---
page_title: "Provider: GleSYS"
description: |-
---

# GleSYS Provider

The GleSYS Provider is used to interact with the resources supported by GleSYS.
The provider needs to be configured with the proper credentials before it can be
used.

Use the navigation to the left to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ tffile "examples/provider/provider_env_credentials.tf" }}

Execute in your shell:
```sh
$ terraform init
$ terraform plan
```

{{ .SchemaMarkdown | trimspace }}

## Authentication

### Static credentials

!> **Warning** Hard-coding credentials into any Terraform configuration is not
recommended, and risks secret leakage should this file ever be committed to a
public version control system.

Static credentials can be provided by adding `token` and `userid` in-line in the
Glesys provider block:

Usage:

```hcl
provider "glesys" {
  token  = "ABC123"
  userid = "CL12345"
}
```

### Environment variables

```hcl
provider "glesys" {}
```

Usage:

```sh
$ export GLESYS_TOKEN="ABC123"
$ export GLESYS_USERID="CL12345"
$ terraform plan
```
